# --- Database ---
DATABASE_URL= "your postgresql"

# --- CORS ---
FRONTEND_ORIGIN="LocalHost"

# Create a new key 
GROQ_API_KEY="your api key"
GROQ_EXTRACTION_MODEL="Text based Model"
GROQ_CHAT_MODEL="Text based Model"

# --- App ---
# Uncomment Before you Start Project
APP_ENV="development"
MAX_UPLOAD_MB="10"
